html {
    height: 100vh;
    width: 100vw;
}

body {
    margin: 0;
    font-family: 'Ubuntu', sans-serif !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: 'Ubuntu', sans-serif;
}





